mj-section(background-color='#ffffff' padding-bottom='0')
    mj-column(width='500px')
        mj-text(padding-bottom='0' font-size='16px' font-weight='900' line-height='20px' text-transform='uppercase' color='#BA4995') Entreprise partenaire
        mj-text(padding-bottom='0' font-size='22px' font-weight='500' line-height='26px' color='#684092') Deledalle assurance rejoint Ecosup Assurance
mj-section(background-color='#ffffff' padding-top='0')
    mj-column(width='100px')
        mj-image(padding-top='10px' width='100px' src='https://i.ibb.co/5rjq3d7/deledalle-Logo.png' alt='logo Deledalle assurance')
    mj-column(width='400px' )
        mj-text(font-size='16px' full-mobile='true' font-weight='400' line-height='20px' color='#2D3748') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas velit diam, vehicula id neque quis, interdum pretium massa. Cras gravida turpis sed turpis consequat, ut vulputate erat gravida. Maecenas in molestie sapien. In a scelerisque justo. Aliquam ac ante quis erat imperdiet convallis. Maecenas tincidunt elit a purus ultrices, at fringilla erat mollis. Vestibulum a arcu imperdiet, sollicitudin eros id, lobortis odio. Pellentesque molestie mi vitae velit consectetur fringilla.