mj-section(background-color='#EDF2F7' padding-right='17px' padding-left='17px' padding-bottom='0')
    mj-column(width='500px' padding='8px')
        mj-text(padding='0' font-size='16px' font-weight='900' line-height='20px' text-transform='uppercase' color='#4A5568') Nos Entreprises partenaires
    mj-group(width='500px')
        mj-column(width='166px' padding='8px')
            mj-image(alt='logo Allianz' src='https://i.ibb.co/mcbYWCB/G-Allianz.jpg')/
        mj-column(width='166px' padding='8px')
            mj-image(alt='logo Groupe Henner' src='https://i.ibb.co/tXkd5WQ/G-HENNER.jpg')/
        mj-column(width='166px' padding='8px')
            mj-image(alt='logo SwissLife' src='https://i.ibb.co/sjtrmH8/GG-Swiss-Life.jpg')/
mj-section(background-color='#EDF2F7' padding-right='17px' padding-left='17px' padding-top='0')
    mj-group(width='500px')
        mj-column(width='166px' padding='8px')
            mj-image(alt='logo Groupe SMA' src='https://i.ibb.co/NghZ413/GG-SMA.jpg')/
        mj-column(width='166px' padding='8px')
            mj-image(alt='logo AXA France' src='https://i.ibb.co/9V7ywWW/G-AXA1.jpg')/
        mj-column(width='166px' padding='8px')
            mj-image(alt='logo Crédit Agricole' src='https://i.ibb.co/NZPRJtt/G-Credit-Agricole.jpg')/
        